@import '../../sass/main.scss';

.footer{
    @include align(column);
    gap: 50px;
    width: 100%;
    height: 209px;
    background-color: #000;
    &_copyright{
        color: $color-primary;
    }
}